In [12]:
import pandas as pd
import numpy as np

In [14]:
emp_df = pd.read_csv("../data/wages.csv")
emp_df.columns = emp_df.columns.str.lower()

emp_df.head()

,,st,state,carpenter_tot_emp_1997,carpenter_h_mean_1997,carpenter_tot_emp_2016,carpenter_h_mean_2016,electrician_tot_emp_1997,electrician_h_mean_1997,electrician_tot_emp_2016,electrician_h_mean_2016
AL,Alabama,10230.0,10.87,"""8","160""",17.70,9660.0,13.34,"""9","050""",22.29
AK,Alaska,2770.0,20.75,"""2","350""",33.64,1540.0,24.87,"""1","830""",39.23
AZ,Arizona,19420.0,12.77,"""9","420""",19.83,11840.0,14.15,"""10","800""",23.78
AR,Arkansas,4740.0,10.76,"""4","670""",16.74,4620.0,12.78,"""5","620""",20.45
CA,California,87630.0,17.32,"""91","780""",26.82,46830.0,19.46,"""60","620""",32.75

In [ ]:
# Calculate carpenter weighted avg 1997
avg_carp_wages_1997 = (
    (emp_df["carpenter_tot_emp_1997"] * emp_df["carpenter_h_mean_1997"]).sum()
    / emp_df["carpenter_tot_emp_1997"].sum()
)
avg_carp_wages_1997

14.808619159597997

In [ ]:
# Calculate carpenter weighted avg 2016
avg_carp_wages_2016 = (
    (emp_df["carpenter_tot_emp_2016"] * emp_df["carpenter_h_mean_2016"]).sum()
    / emp_df["carpenter_tot_emp_2016"].sum()
)
avg_carp_wages_2016

TypeError: can't multiply sequence by non-int of type 'float'